<a href="https://colab.research.google.com/github/HAUNYuHan/20220913/blob/master/pandas/1209pandas_3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=['a', 'b', 'c'])
df2 = pd.DataFrame(np.arange(9, 18).reshape(3, 3),  columns=['a', 'b', 'c'])
pd.concat([df1, df2])

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
0   9  10  11
1  12  13  14
2  15  16  17

In [6]:
df3 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=['a', 'b', 'c'])
df4 = pd.DataFrame(np.arange(9, 18).reshape(3, 3), columns=['a', 'c', 'd'])
pd.concat([df3, df4])

    a    b   c     d
0   0  1.0   2   NaN
1   3  4.0   5   NaN
2   6  7.0   8   NaN
0   9  NaN  10  11.0
1  12  NaN  13  14.0
2  15  NaN  16  17.0

In [10]:
import datetime
from datetime import datetime, date


customers = {'CustomerID': [10, 11],
             'Name': ['Mike', 'Marcia'],
             'Address': ['Address for Mike',
                         'Address for Marcia']}
customers = pd.DataFrame(customers)

In [11]:


orders = {'CustomerID': [10, 11, 10],
          'OrderDate': [date(2014, 12, 1),
                        date(2014, 12, 1),
                        date(2014, 12, 1)]}
orders = pd.DataFrame(orders)

customers.merge(orders)

   CustomerID    Name             Address   OrderDate
0          10    Mike    Address for Mike  2014-12-01
1          10    Mike    Address for Mike  2014-12-01
2          11  Marcia  Address for Marcia  2014-12-01

In [8]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/accel.csv

--2022-12-09 08:13:33--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/accel.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 114 [text/plain]
Saving to: ‘accel.csv’

accel.csv           100%[===================>]     114  --.-KB/s    in 0s

2022-12-09 08:13:33 (660 KB/s) - ‘accel.csv’ saved [114/114]

In [9]:
sensor_readings = pd.read_csv("./accel.csv")
sensor_readings[sensor_readings['axis'] == 'X']
sensor_readings.pivot(index='interval', columns='axis', values='reading')

axis        X    Y    Z
interval
0         0.0  0.5  1.0
1         0.1  0.4  0.9
2         0.2  0.3  0.8
3         0.3  0.2  0.7

In [12]:
df = pd.DataFrame({'aaa': [11, 22]}, index={'one', 'two'})
stacked1 = df.stack()  #堆疊(Stack)運算
stacked1  # df和堆疊(Stack)後的stacked1有何差異?

one  aaa    11
two  aaa    22
dtype: int64

In [13]:
df2 = pd.DataFrame({'aa': [11, 22],
                   'bb': [33, 44]}, 
                  index={'one', 'two'})
stacked2 = df2.stack()
stacked2

one  aa    11
     bb    33
two  aa    22
     bb    44
dtype: int64

In [14]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                  'key2' : ['one', 'two', 'one', 'two', 'one'], 
                  'data1' : np.random.randn(5), 
                  'data2' : np.random.randn(5)})

In [15]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [16]:
grouped.mean()
grouped.describe()

,count,mean,std,min,25%,50%,75%,max
key1,,,,,,,,
a,3.0,0.283250,0.787538,-0.590179,-0.044718,0.500743,0.719964,0.939185
b,2.0,1.119093,1.654206,-0.050607,0.534243,1.119093,1.703943,2.288793

In [17]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one    -0.044718
      two     0.939185
b     one     2.288793
      two    -0.050607
Name: data1, dtype: float64

In [18]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [19]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # 改變部分資料

# 將column重新規範內容以便進行後續運算
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f': 'orange'}

# 重新定義
by_column = people.groupby(mapping, axis=1)

# 執行sum總和運算
by_column.sum()

            blue       red
Joe    -1.071685  2.486118
Steve  -0.899861  0.122739
Wes    -0.229204  1.897018
Jim     2.422721  1.474456
Travis  1.862383 -2.707003

In [20]:
people.groupby(len).sum()

          a         b         c         d         e
3  3.241062  0.479339  0.215182  0.906650  2.137191
5  1.317577 -0.680745 -0.899364 -0.000497 -0.514093
6 -1.072598 -0.955607  0.749336  1.113046 -0.678798